@{
    ViewData["Title"] = "Collapsed Sidebar";
    ViewData["AppClass"] = "app-sidebar-collapsed";
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">COLLAPSED SIDEBAR</li>
</ul>

<h1 class="page-header">
    Collapsed Sidebar <small>page header description goes here...</small>
</h1>

<hr class="mb-4" />

<p>
    Add the following code to your view file for collapsed sidebar page setting.
</p>

<div class="card">
	<div class="hljs-container border-0">
		<pre><code class="xml">@@{
  ViewData["AppClass"] = "app-sidebar-collapsed";
}</code></pre>
	</div>
	<div class="card-arrow">
		<div class="card-arrow-top-left"></div>
		<div class="card-arrow-top-right"></div>
		<div class="card-arrow-bottom-left"></div>
		<div class="card-arrow-bottom-right"></div>
	</div>
</div>