@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="login">
	<div class="login-content">
		<h1>@ViewData["Title"]</h1>
		<partial name="_StatusMessage" model="Model.StatusMessage" />
	</div>
</div>
