@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="register">
	<div class="register-content">
		<h3>@ViewData["Title"]</h3>
		<partial name="_StatusMessage" model="Model.StatusMessage" />
		<a href="/Identity/Account/Login" class="btn btn-outline-theme d-block">Login</a>
	</div>
</div>
