@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="login">
	<div class="login-content">
		<h3>@ViewData["Title"]</h3>
		<p>Enter your email.</p>
		<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating mb-3">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
						<label asp-for="Input.Email" class="form-label"></label>
						<span asp-validation-for="Input.Email" class="text-danger pt-1 d-block"></span>
				</div>
				<button type="submit" class="w-100 btn btn-lg btn-outline-theme">Reset Password</button>
		</form>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
